$white: #f9f9f9;
$black-one: #303030;
$barley-corn: #cfb995;
$white-two: #ffff;
$gray-one: #b2b2b2;
$red-one: #ff5b5b;
$weird-green: #57e690;
$pastel-orange: #ff915b;
$popular-label:#57dbe6; 
$Subtle-suede: #d0ba93;
$pale-orange: #ffbe5b;
$kiwi-green: #8fe360;
$light-gold: #ffdf5b;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$mobile-width: 600px;
$tablet-width: 1366px;
